@charset "utf-8";
.about-container {
    margin-top:140px;
}
.about-img{
    width: 100%;
    margin-top:60px;
}
.about-img img{
    width: 100%;
}
.about-desc{
    margin:60px auto;
    width: 90%;
}
.about-desc .paragraph {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    line-height: 30px;
}

.about-company{
    width: 100%;
    margin: 50px auto;
}
.about-company .head-title{
    margin: 0;
}
.imgBox{
    width: 90%;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.img-item{
    width: 32%;
    max-height: 240px;
    margin: 10px 0;
}
.img-item img{
    width: 100%;
    height: 100%;
}
.support-icon{
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.icon-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-icon .icon {
    color: #d81621;
    font-size: 40px;
    padding: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #d81621;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.icon-item .icon-title{
    line-height: 30px;
    text-transform: uppercase;
}
.support-desc{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;;
}
.support-desc>p{
    line-height: 24px;
    margin-bottom: 30px;
}
.support-desc b{
    text-transform:capitalize ;
}
.support-desc .desc-title{
    margin-bottom: 20px;
    line-height: 14px;
}
.last{
    margin-bottom: 30px;
    line-height: 24x;
    font-size: 14px;
}
.seperate{
    width: 100%;
    height: 4px;
    background: #d81621;
}
@media (max-width: 1200px){
    .about-container {
        margin-top: 100px;
    }
    .about-desc .paragraph {
        width: 100%;
        text-align: left;
        font-size: 14px;
    }
    .support-icon {
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: center;
    }
    .support-icon .icon {
        width: 30px;
        height: 30px;
    }
    
    .icon-item .icon-title {
        text-align: center;
        font-size: 16px;
    }
    .support-desc {
        width: 90%;
    }
    .support-desc>p {
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .icon-item {
        width: 47%;
        margin-bottom: 30px;
    }
    .about-desc .paragraph {
        font-size: 16px;
    }
    .support-desc>p {
        font-size: 16px;
    }
}
@media (max-width: 767px){
    .title-box .title {
        font-size: 22px;
    }
    .icon-item {
        width: 47%;
        margin-bottom: 30px;
    }
    .support-icon {
        margin-bottom: 10px;
    }
    .icon-item .icon-title {
        font-size: 13px;
    }
}