.banner {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content {
    width: 100%;
}
.main {
    width: 90%;
    margin: 0 auto;
}
.title-box {
    padding: 60px 0;
    padding-bottom: 80px;
}
.title-box title {
    text-transform: uppercase;
}
.list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
}
.list .item .thumb {
    display: block;
    padding: 20px;
    height: 100%;
}
.list .item .thumb img {
    transform: scale(0.9);
    transition: 0.5s;
    height: 100%;
}
.list .item .thumb:hover img{
    transform: scale(1);
}
.list .item {
    width: 23%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}
.item .desc {
    width: 100%;
    height: 50px;
    text-align: center;
    background: #bc261a;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}
.blog {
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* position: relative; */
    padding-left: 0;
    /* margin-right: 200px; */
    padding-bottom: 50px;
}
.blog-content {
    margin-left: 260px;
    margin-right: 200px;
}

.blog-content {
    font-size: 17px;
    line-height: 30px;
}
.blog-content p {
    margin-bottom: 20px;
}
.blog-content h1 {
    padding: 20px 0;
}
.blog-content h2 {
    font-size: 26px;
    font-weight: bold;
    /* text-align: center; */
    padding: 20px 0;
}
.blog-content h3 {
    font-size: 24px;
    font-weight: bold;
    /* text-align: center; */
    padding: 20px 0;
    padding-bottom: 40px;
}
.blog-content h4 {
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    padding: 10px 0;
}
.blog-content .square {
    margin: 40px 0;
    
}
.frame {
    width: 100%;
    padding: 20px;
    border: 1px solid #bc261a;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 20px 0;
}
.frame-item i {
    color: #bc261a;
    display: inline-block;
    margin-right: 6px;
}
.line {
    font-weight: bold;
}
.square {
    display: flex;
    justify-content: center;
}
.square img {
    width: 60%;
}
.empty {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 30px 0;
}
.products-nav {
    position: absolute;
}
.fix {
    position: fixed;
    /* right: 6%; */
    top: 20%;
    height: auto;
    margin-top: 30px;
}