.banner {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h2 {
    color: #fff;
    font-size: 24px;
}
.title-box {
    padding-top: 0;
    padding-bottom: 60px;
}
.title {
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
}
.title::after {
    height: 3px;
    background: #fff;
    bottom: -18px;
}
.content {
    width: 100%;
    margin-top: 50px;
}
.main {
    width: 90%;
    margin: 0 auto;
}

.title-box title {
    text-transform: uppercase;
}
.list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
}
.list .item .thumb {
    display: block;
    padding: 20px;
    height: 100%;
}
.list .item .thumb img {
    transform: scale(0.9);
    transition: 0.5s;
    height: 100%;
}
.list .item .thumb:hover img{
    transform: scale(1);
}
.list .item {
    width: 23%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
}
.item .desc {
    width: 100%;
    height: 50px;
    text-align: center;
    background: #595a58;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.blog {
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* position: relative; */
    padding-left: 0;
    /* margin-right: 200px; */
    padding-bottom: 50px;
}
.blog-content {
    margin-left: 260px;
    margin-right: 200px;
}

.blog-content {
    font-size: 17px;
    line-height: 30px;
}
.blog-content p {
    margin-bottom: 20px;
}
.blog-content h1 {
    padding: 20px 0;
}
.blog-content h2 {
    font-size: 26px;
    font-weight: bold;
    /* text-align: center; */
    padding: 20px 0;
}
.blog-content h3 {
    font-size: 24px;
    font-weight: bold;
    /* text-align: center; */
    padding: 20px 0;
    padding-bottom: 40px;
}
.blog-content h4 {
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    padding: 10px 0;
}
.blog-content .square {
    margin: 40px 0;
    
}
.frame {
    width: 100%;
    padding: 20px;
    border: 1px solid #d81621;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 20px 0;
}
.frame-item i {
    color: #d81621;
    display: inline-block;
    margin-right: 6px;
}
.line {
    font-weight: bold;
}
.square {
    display: flex;
    justify-content: center;
}
.square img {
    width: 60%;
    height: 100%;
}
.empty {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 30px 0;
}
.products-nav {
    position: absolute;
}
.fix {
    position: fixed;
    /* right: 6%; */
    top: 20%;
    height: auto;
    margin-top: 30px;
}
.more {
    display: none;
}
.desc:hover .current{
    display: none;
}
.desc:hover .more{
    display: block;
}
.item .desc {
    background: #595a58;
}
.desc:hover{
    background: #d81621;
}
/* 响应式 */
@media (max-width: 1200px){
    .banner {
        margin-top: 0;
    }
    .list {
        justify-content: center;
    }
    .list .item {
        width:30%;
    }
    .item .desc {
        font-size: 14px;
    }
    .blog-content {
        margin-right: 0;
    }
}
@media (max-width: 767px){
    .blog-content {
        margin-left: 0;
    }
    .banner {
        height: auto;
        min-height: 170px;
        margin-top: 60px;
    }
    .title-box {
        padding-bottom: 0;
        margin: 30px 0;
    }
    .title-box .title {
        font-size: 16px;
    }
    .banner h2 {
        font-size: 12px;
        margin-bottom: 30px;
    }
    .list .item {
        width: 100%;
    }
    .list .item{
        width: 82%;
    }
    .list .item .thumb img {
        transform: scale(0.9)
    }
    .item .desc {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
}